<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Dashboard {% end block %}</title>
</head>
<body>
<table class="student list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student First Name</th>
            <th>Student Last Name</th>
        </tr>
    </thead>
    <tbody>
        {% for info in student_list %}
        <tr>
          <td>{{ info.id }}</td>
          <td>{{ info.student_firstname }}</td>
          <td>{{ info.student_lastname }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="quiz list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>No. of Questions</th>
            <th>Quiz Date</th>
        </tr>
    </thead>
    <tbody>
        {% for info in quiz_list %}
        <tr>
          <td>{{ info.id }}</td>
          <td>{{ info.subject }}</td>
          <td>{{ info.number_of_questions }}</td>
          <td>{{ info.date_given }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="quiz results">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Student Score</th>
        </tr>
    </thead>
    <tbody>
        {% for info in quiz_results %}
        <tr>
          <td>{{ info.subject }}</td>
          <td>{{ info.student_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>