<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Dashboard {% endblock %}</title>
</head>
<body>
<h1>Dashboard</h1>
<br/>
<table class="student list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student First Name</th>
            <th>Student Last Name</th>
        </tr>
    </thead>
    <tbody>
        {% for info in student_list %}
        <tr>
          <td>{{ info[0] }}</td>
          <td>{{ info[1] }}</td>
          <td>{{ info[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <button onclick="location.href='/student/add'">Add Student Info</button>
</div>
<br />
<table class="quiz list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>No. of Questions</th>
            <th>Quiz Date</th>
        </tr>
    </thead>
    <tbody>
        {% for info in quiz_list %}
        <tr>
          <td>{{ info[0] }}</td>
          <td>{{ info[1] }}</td>
          <td>{{ info[2] }}</td>
          <td>{{ info[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <button onclick="location.href='/quiz/add'">Add Quiz Info</button>
</div>
<br />
<table class="quiz results">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Subject</th>
            <th>Quiz ID</th>
            <th>Student Score</th>
        </tr>
    </thead>
    <tbody>
        {% for info in quiz_results %}
        <tr>
          <td>{{ info[0] }}</td>
          <td>{{ info[1] }}</td>
          <td>{{ info[2] }}</td>
          <td>{{ info[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <button onclick="location.href='/results/add'">Add Student Quiz Results</button>
</div>
<br />
</body>
</html>
