<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Database Login</title>
</head>
<body>
    <h1>Teacher Login</h1>
    <form action="/submit" method="post">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />
      <label for="password">Password:</label><br />
      <input type="text" id="password" name="password" required /><br />
        <br />
        <input type="submit" value="Login" />
    </form>
</body>
</html>